*.sln
*.csproj
*.prefs
*.assets
*.asset
*.prefab
*.asmdef
*.meta
*.dll
*.mat
*.unity
*.fbx
*.obj
*.anim
*.controller
*.manifest
*.mesh
*.tif
*.physicMaterial
*.mask

.vs
Library
obj
Packages
ProjectSettings
Temp
ThunderKit

Assets/*
!Assets/_Axolotl
Assets/_Axolotl/thunderkit things
